services:
  - type: web
    name: churn-prediction-api
    env: python
    region: frankfurt
    plan: free
    buildCommand: pip install -r requirements.txt
    startCommand: uvicorn api:app --host 0.0.0.0 --port $PORT
    envVars:
      - key: PYTHON_VERSION
        value: 3.12.0
      - key: MLFLOW_TRACKING_URI
        value: http://127.0.0.1:5000
